@import "../../../libs/LISS/src/pages/docs/skeleton/";

.grid {
    display: grid;
    grid: auto / 1fr 1fr;

    & > vshs-playground {
        display: grid;
        grid-column: span 2;
        grid-template-columns: subgrid !important;
    }
}